{
  "rewriteProperties":"yes",
  "liveHIT":"no",
  "title":"Language experiment",
  "description":"Explore a new world and answer short questions (~ 5 minutes)",
  "experimentURL":"https://www.stanford.edu/~ashulman/experiments/gen-games/experiments/game-1/game-1.html",
  "keywords":"language research stanford fun cognitive science university reasoning",
  "USonly?":"yes",
  "minPercentPreviousHITsApproved":"95",
  "frameheight":"650",
  "reward":"0.00",
  "numberofassignments":"3",
  "assignmentduration":"1800",
  "hitlifetime":"2592000",
  "autoapprovaldelay":"300",
  "conditions":"cond"
}
