{
  "rewriteProperties":"yes",
  "liveHIT":"yes",
  "title":"Language experiment (CritterWorld 109)",
  "description":"Explore a new world and answer short questions (~ 7 minutes)",
  "experimentURL":"https://web.stanford.edu/~mtessler/gen-games/experiments/game-2/game-2.html",
  "keywords":"language research stanford fun cognitive science university teaching",
  "USonly?":"yes",
  "minPercentPreviousHITsApproved":"95",
  "frameheight":"650",
  "reward":"0.75",
  "numberofassignments":"9",
  "assignmentduration":"1800",
  "hitlifetime":"2592000",
  "autoapprovaldelay":"300",
  "conditions":"cond"
}
