* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#messages li { 
    padding: 5px 10px; 
}

.creature_svg {
    max-width: 150px;
    max-height: 150px;
}

.train_creature_cell {
    opacity: 0.3;
}